@import "../style.scss";
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
$bgColor: grey;

.compareModal{
  .myContent{ 
    background: rgba(1,1,1,0.7) !important;
  }
 }

.App {
    .goUp{
        position: fixed;
        top: 1em;
        left: 1em;
        z-index: 1000;
        cursor: pointer;
    }
    .goDown{
        position: fixed;
        bottom: 1em;
        left: 1em;
        z-index: 1000;
        cursor: pointer;
    }
   .gallery{
       min-height: 100vh;
       height: auto;
       width: 100vw;
       display: flex;
       justify-content: center;
       align-items: center;
       .gal{
        max-width: 80%;
        background: black;
           @media screen and (max-width: 750px){
               width: 90vw;
           }
        }

        .openSlider {
          position: fixed;
          width: 90vw;
          height: 90vh;
          z-index: 1000;
        }
        .closeSlider {
          display: none;
        }
    }
    .header{ 
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header-01, .header2-01 {
            padding: 10em 0 10em 0;
          }
          
          .header-02 {
          
            margin: auto;
            text-align: center;
            position: relative;
          }
          
          .slider {
            display: flex;
            align-items: center;
            z-index: 100;
          }
          
          h1 {
            color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
            font-family: 'Cardo', serif;
            font-size: 5.5vw;
            font-weight: bolder;
            font-style: italic;
            letter-spacing: 0.1em;
            line-height: 6.2vw;
            @media screen and (min-width:1000px){
              font-size: 3vw;
              line-height: 5vw;
            }
          }
          
          em {
            font-family: 'EB Garamond', serif;
            font-size: 9vw;
            line-height: 13vw;
            @media screen and (min-width:1000px){
              font-size: 7vw;
              line-height: 10vw;
            }
            @media screen and (min-width:1600px){
              font-size: 5vw;
              line-height: 7vw;
            }
            text-transform: uppercase;
            letter-spacing: 0.1em;
            display: block;
            font-style:normal;
            padding-top: 0.1em;
            // text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
            
            &::before, &::after {
            content: "§";
            display: inline-block;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
              opacity: 0.2;
            margin: 0 0.6em;
            font-size: 0.5vw;
          }
          
          }
          
          
          .bottom {
            font-size: 1.5em;
            letter-spacing: 0.07em;
            font-size: 1em;
            display: block;
          }
    }

}