$backgroundColor: #31242488;
$fontColor: #312424;

body {
    margin: 0;
    padding: 0;
    background: url('/public//background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #222;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
  }